<?xml version="1.0" encoding="UTF-8"?> 
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0" 
    id="dff-cordova-plugin-estimote"
    version="0.0.1">

    <name>Estimote</name>
    <description>Estimote Plugin</description>
    <author>dff solutions</author>
    <keywords>phonegap,cordova,estimote,dff</keywords>
    
     <js-module src="www/estimote.js" name="estimote">
        <clobbers target="Estimote" />
    </js-module>
    
    <dependency id="dff-cordova-plugin-common" url="https://github.com/dff-solutions/dff.CordovaPlugin.Common.git" />
 
    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="EstimotePlugin">
                <param name="android-package" value="com.dff.cordova.plugin.estimote.EstimotePlugin"/>
                <param name="onload" value="false" />
            </feature>
        </config-file>
        
        <framework src="estimote.gradle" custom="true" type="gradleReference" />
        
        <source-file src="libs/estimote-sdk.aar" target-dir="libs" />
        
			<source-file src="src/android/com/dff/cordova/plugin/estimote/nearable/NearableDiscoveryListener.java" target-dir="src/com/dff/cordova/plugin/estimote/nearable" />
			<source-file src="src/android/com/dff/cordova/plugin/estimote/json/model/JsonRegion.java" target-dir="src/com/dff/cordova/plugin/estimote/json/model" />
			<source-file src="src/android/com/dff/cordova/plugin/estimote/json/model/JsonBeacon.java" target-dir="src/com/dff/cordova/plugin/estimote/json/model" />
			<source-file src="src/android/com/dff/cordova/plugin/estimote/json/model/JsonBatteryLevel.java" target-dir="src/com/dff/cordova/plugin/estimote/json/model" />
			<source-file src="src/android/com/dff/cordova/plugin/estimote/json/model/JsonNearable.java" target-dir="src/com/dff/cordova/plugin/estimote/json/model" />
			<source-file src="src/android/com/dff/cordova/plugin/estimote/json/model/JsonNearableType.java" target-dir="src/com/dff/cordova/plugin/estimote/json/model" />
			<source-file src="src/android/com/dff/cordova/plugin/estimote/json/model/JsonBroadcastingPower.java" target-dir="src/com/dff/cordova/plugin/estimote/json/model" />
			<source-file src="src/android/com/dff/cordova/plugin/estimote/action/StartMonitoring.java" target-dir="src/com/dff/cordova/plugin/estimote/action" />
			<source-file src="src/android/com/dff/cordova/plugin/estimote/action/StartNearableDiscovery.java" target-dir="src/com/dff/cordova/plugin/estimote/action" />
			<source-file src="src/android/com/dff/cordova/plugin/estimote/action/StopNearableDiscovery.java" target-dir="src/com/dff/cordova/plugin/estimote/action" />
			<source-file src="src/android/com/dff/cordova/plugin/estimote/action/EstimoteAction.java" target-dir="src/com/dff/cordova/plugin/estimote/action" />
			<source-file src="src/android/com/dff/cordova/plugin/estimote/action/StopMonitoring.java" target-dir="src/com/dff/cordova/plugin/estimote/action" />
			<source-file src="src/android/com/dff/cordova/plugin/estimote/action/Disconnect.java" target-dir="src/com/dff/cordova/plugin/estimote/action" />
			<source-file src="src/android/com/dff/cordova/plugin/estimote/action/Connect.java" target-dir="src/com/dff/cordova/plugin/estimote/action" />
			<source-file src="src/android/com/dff/cordova/plugin/estimote/monitor/EnteredRegionCallbackHandler.java" target-dir="src/com/dff/cordova/plugin/estimote/monitor" />
			<source-file src="src/android/com/dff/cordova/plugin/estimote/monitor/BeaconMonitoringListener.java" target-dir="src/com/dff/cordova/plugin/estimote/monitor" />
			<source-file src="src/android/com/dff/cordova/plugin/estimote/monitor/ExitedRegionCallbackHandler.java" target-dir="src/com/dff/cordova/plugin/estimote/monitor" />
			<source-file src="src/android/com/dff/cordova/plugin/estimote/scan/ScanStopCallbackHandler.java" target-dir="src/com/dff/cordova/plugin/estimote/scan" />
			<source-file src="src/android/com/dff/cordova/plugin/estimote/scan/ScanStartCallbackHandler.java" target-dir="src/com/dff/cordova/plugin/estimote/scan" />
			<source-file src="src/android/com/dff/cordova/plugin/estimote/scan/BeaconScanStatusListener.java" target-dir="src/com/dff/cordova/plugin/estimote/scan" />
			<source-file src="src/android/com/dff/cordova/plugin/estimote/EstimotePlugin.java" target-dir="src/com/dff/cordova/plugin/estimote" />
    
     </platform>
</plugin>

