<?xml version="1.0" encoding="UTF-8"?> 
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0" 
    id="com.dff.cordova.plugins.estimote"
    version="0.0.1">

    <name>Estimote</name>
    <description>Estimote Plugin</description>
    <author>dff solutions</author>
    <keywords>phonegap,cordova,estimote,dff</keywords>
    
     <js-module src="www/estimote.js" name="estimote">
        <clobbers target="EstimotePlugin" />
    </js-module>
    
    <dependency id="com.dff.cordova.plugins.common" url="https://github.com/dff-solutions/dff.CordovaPlugin.Common.git" />
 
    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="EstimotePlugin">
                <param name="android-package" value="com.dff.cordova.plugin.estimote.EstimotePlugin"/>
                <param name="onload" value="true" />
            </feature>
        </config-file>
    
        <config-file target="AndroidManifest.xml" parent="/manifest">
        	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> 
        </config-file>
        
        <source-file src="libs/classes.jar" target-dir="libs" />
        
		<source-file src="src/android/com/dff/cordova/plugin/estimote/action/EstimoteAction.java" target-dir="src/com/dff/cordova/plugin/estimote/action" />
		<source-file src="src/android/com/dff/cordova/plugin/estimote/action/StartMonitoring.java" target-dir="src/com/dff/cordova/plugin/estimote/action" />
		<source-file src="src/android/com/dff/cordova/plugin/estimote/action/StopMonitoring.java" target-dir="src/com/dff/cordova/plugin/estimote/action" />
		<source-file src="src/android/com/dff/cordova/plugin/estimote/BeaconMonitoringListener.java" target-dir="src/com/dff/cordova/plugin/estimote" />
		<source-file src="src/android/com/dff/cordova/plugin/estimote/EnteredRegionCallbackHandler.java" target-dir="src/com/dff/cordova/plugin/estimote" />
		<source-file src="src/android/com/dff/cordova/plugin/estimote/EstimotePlugin.java" target-dir="src/com/dff/cordova/plugin/estimote" />
		<source-file src="src/android/com/dff/cordova/plugin/estimote/ExitedRegionCallbackHandler.java" target-dir="src/com/dff/cordova/plugin/estimote" />
		<source-file src="src/android/com/dff/cordova/plugin/estimote/json/model/JsonBeacon.java" target-dir="src/com/dff/cordova/plugin/estimote/json/model" />
		<source-file src="src/android/com/dff/cordova/plugin/estimote/json/model/JsonRegion.java" target-dir="src/com/dff/cordova/plugin/estimote/json/model" />
    
     </platform>
</plugin>

